@font-face{
    font-family: "MinecraftRus";
    src: url(font/minecraft.ttf)
}

body{
   background-image: url(img/dirt.png);
    font-family: MinecraftRus;
}

h1{
    user-select: none;
    color: white;
    text-shadow: black 0 0 10px;
}
h3{
    font-size: 20;
}

.MainImage{
    width: 228px;
    height: 190px;
    background: url(img/potato.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-duration: 0.5s;
    cursor: pointer;
}

.MainImage:hover{
    width: 248px;
    height: 210px;
    transition-duration: 0.5s;
}
.MainImage:active{
    width: 228px;
    height: 190px;
    transition-duration: 0.1s;
    transform: rotate(9deg);
}

.ClickerBase {
    display: flex;
    width: auto;
    height: 250px;
    align-content: space-between;
    margin-bottom: 20px;
}

.ClickerCore {
    margin-left: auto;
    margin-right: auto;
}

.ShopBase{
    display: grid;
    gap: 10px; 
    background-image: url(img/spruce_planks.png);
    margin-left: -9px;
    width: 101%;
}

.UpgradeWrapper{
    display: inline-flex;
}

.PointsBase{
    user-select: none;
    height: auto;
    text-align: center;
}
.ClickPoints{
    background-image: url(img/spruce_log.png);
    color: white;
    text-align: center;
    text-shadow: black 0 0 10px;
    height: 40px;
    font-size: 20;
    user-select: none;
}
.ShopElem{
    margin-left: 10px;
    user-select: none;
    border: 5px solid;
    border-color: #584d3b; 
    width: 75%;
    cursor: pointer;
    vertical-align: middle;
    display: grid;
    grid-template-areas: "a b c d";
    align-items: center;
    font-size: 30;
}

.ShopImageText{
    color: rgb(153, 255, 0);
    text-shadow: black 0 0 10px;
    font-size: 20;
    user-select: none;
}

.ShopLable{
    display: grid;
    text-align: center;
}
.Clicker1_Phase0{
    background-image: url(img/disable_shovel.png)
}
.Clicker2_Phase0{
    background-image: url(img/disable_bone_meal.png)
}
.Clicker3_Phase0{
    background-image: url(img/disable_potato_reaper.png);
}
.Clicker1_Phase1{
    background-image: url(img/wooden_shovel.png)
}
.Clicker2_Phase1{
    background-image: url(img/bone_meal.png)
}
.Clicker3_Phase1{
    background-image: url(img/potato_reaper.png);
}
.Clicker1_Phase2{
    background-image: url(img/iron_shovel.png)
}
.Clicker2_Phase2{
    background-image: url(img/fertilizer.png)
}
.Clicker3_Phase2{
    background-image: url(img/iron_potato_reaper.png);
}
.Clicker1_Phase3{
    background-image: url(img/diamond_shovel.png)
}
.Clicker2_Phase3{
    background-image: url(img/fertilizer_2.png)
}
.Clicker3_Phase3{
    background-image: url(img/diamond_potato_reaper.png);
}
.Phase1{
    background-image: url(img/stripped_oak_log.png)
}
.Phase2{
    background-image: url(img/iron_block.png);
}

.Phase3{
    background-image: url(img/diamond_block.png);
}

.HoeImage{
    background-image: url(img/wooden_hoe.png);
    height: 100px;
    width: 100px;
}
.HoeImage2{
    background-image: url(img/iron_hoe.png);
    height: 100px;
    width: 100px;
}
.HoeImage3{
    background-image: url(img/diamond_hoe.png);
    height: 100px;
    width: 100px;
}
.FarmImage{
    background-image: url(img/farm.png);
    height: 100px;
    width: 100px;
}
.FarmImage2{
    background-image: url(img/farm_iron.png);
    height: 100px;
    width: 100px;
}
.FarmImage3{
    background-image: url(img/diamond_iron.png);
    height: 100px;
    width: 100px;
}
.vImage{
    background-image: url(img/vitaly.png);
    height: 100px;
    width: 100px;
}
.vImage2{
    background-image: url(img/vitaly_1.png);
    height: 100px;
    width: 100px;
}
.vImage3{
    background-image: url(img/vitaly_2.png);
    height: 100px;
    width: 100px;
}
.Upgrade{
    margin-left: 10px;
    border: 5px solid;
    border-color: #584d3b; 
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.UpgradeIron{
    background-image: url(img/Iron_upgrade.png);
}
.UpgradeDiamond{
    background-image: url(img/diamond_upgrade.png);
}
.UpgradeLast{
    background-image: url(img/last_upgrade.png);
}